.container {
    width: 100%;
    text-align: center;
}   

.page-subtitle {
    margin-top: -20px;
    padding-bottom: 30px;
    margin-right: 110px;
}

.page-title {
    padding-top: 40px;
    font-family: 'Kaushan Script', cursive;
}

/*footer*/
.footer-text {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Lobster', cursive;
}